*
/* FONTS */

h1{
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;     
}

h2{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
}

p{
    font-family: ff-dagny-web-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13pt;
}



/* GENERELT */





/* KLASSER */


.blue_box{
    background-color: blue;
    color: white;
}

.flexcontainer{
    display: flex;
    width: 100%;
}





/* HEADER */






/* INDEX */ 


.pizza_nyhed div{
    width: 50%;
    background-color: aquamarine;
}



/* OM OS */

#videosection h1{
    font-size: 45pt;
}

#videosection h2{
    font-size: 15pt;
}

#videosection p{
    
}

#videosection{
    margin-top: 30px;
    margin-left: 30px;
}

#videosection_leftbox{
    background-color: rgb(29, 29, 83);
    width: 50%;
    height: 800px;
    
}

#videosection_rightbox{
    background-color: rgb(59, 119, 88);
}

#videosection_leftbox_textbox{
    width: 60%;
    background-color: rgb(135, 44, 44);
    margin: 20px;
}




/* MENUKORT */





/* EVENTS */





/* FOOTER */





/* RESPONSIVE */

